In [24]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder
import pickle

In [25]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [26]:
## Preprocess the data
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [27]:
## Encode categorical variables
label_encoder_gender = LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])
data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [28]:
## Onehot encode 'Geography'
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoded_df = pd.DataFrame(geo_encoder.toarray(), columns = onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [29]:
## Combine one hot encoder columns with the original data

data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [30]:
## Divide the dataset into independent and dependent features
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

## Split the data in training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [31]:
## Scale these features
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [32]:
## Save the encoders and scaler
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender,file)

with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo,file)

with open('scaler.pkl', 'wb') as file:
    pickle.dump(scaler,file)

In [33]:
## Load the encoders and scaler
with open('label_encoder_gender.pkl', 'rb') as file:
    label_encoder_gender = pickle.load(file)

print(file)

with open('onehot_encoder_geo.pkl', 'rb') as file:
    print(file)
    onehot_encoder_geo = pickle.load(file)

with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

<_io.BufferedReader name='label_encoder_gender.pkl'>
<_io.BufferedReader name='onehot_encoder_geo.pkl'>

## ANN Regression Model Building

In [15]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
import datetime

In [13]:
## Building ANN Model

model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)), 
    Dense(32, activation='relu'),
    Dense(1)
])

## Compile the model
model.compile(optimizer='adam', loss='mean_absolute_error', metrics=['mae'])

model.summary()

WARNING:tensorflow:From d:\learning\Gen_AI\04_ANN_Churn_Modelling\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From d:\learning\Gen_AI\04_ANN_Churn_Modelling\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [16]:
## Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir = log_dir, histogram_freq=1)

In [17]:
## Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [18]:
### Train the model
history = model.fit(
    X_train, y_train, validation_data = (X_test, y_test), epochs = 100,
    callbacks = [tensorflow_callback, early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From d:\learning\Gen_AI\04_ANN_Churn_Modelling\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From d:\learning\Gen_AI\04_ANN_Churn_Modelling\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 5ms/step - loss: 100388.5703 - mae: 100388.5703 - val_loss: 98552.0938 - val_mae: 98552.0938
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 99724.3750 - mae: 99724.3750 - val_loss: 97187.2812 - val_mae: 97187.2812
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 97317.2266 - mae: 97317.2266 - val_loss: 93642.4844 - val_mae: 93642.4844
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 92525.8906 - mae: 92525.8906 - val_loss: 87667.0938 - val_mae: 87667.0938
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 85474.6562 - mae: 85474.6562 - val_loss: 79824.4219 - val_mae: 79824.4219
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 76926.3359 - mae: 76926.3359 - val_loss: 71297.9609 - val_mae: 71297.9609
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 68329.1016 - mae: 68329.1016 - val_loss: 63612.9844 - val_mae: 63612.9844
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 61078.0547 - mae: 61078.0547 - val_loss: 57662.4414 - val_mae: 57662.4414
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 55951.2812 - mae: 55951.2812 - val_loss: 53938.1602 - val_mae: 53938.1602
Epoch 10/100
250/250 [==============================] - 1s 3ms/step - loss: 52947.5664 - mae: 52947.5664 - val_loss: 52064.0977 - val_mae: 52064.0977
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 51474.3750 - mae: 51474.3750 - val_loss: 51326.4883 - val_mae: 51326.4883
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 50863.3789 - mae: 50863.3789 - val_loss: 51054.1836 - val_mae: 51054.1836
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 50589.3242 - mae: 50589.3242 - val_loss: 50930.9219 - val_mae: 50930.9219
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 50437.6602 - mae: 50437.6602 - val_loss: 50862.2852 - val_mae: 50862.2852
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 50343.3516 - mae: 50343.3516 - val_loss: 50809.1133 - val_mae: 50809.1133
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 50271.5703 - mae: 50271.5703 - val_loss: 50762.0938 - val_mae: 50762.0938
Epoch 17/100
250/250 [==============================] - 1s 3ms/step - loss: 50208.2773 - mae: 50208.2773 - val_loss: 50719.7539 - val_mae: 50719.7539
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 50155.8320 - mae: 50155.8320 - val_loss: 50669.9297 - val_mae: 50669.9297
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 50109.6914 - mae: 50109.6914 - val_loss: 50640.1602 - val_mae: 50640.1602
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 50064.4961 - mae: 50064.4961 - val_loss: 50601.6328 - val_mae: 50601.6328
Epoch 21/100
250/250 [==============================] - 1s 4ms/step - loss: 50029.7812 - mae: 50029.7812 - val_loss: 50571.7539 - val_mae: 50571.7539
Epoch 22/100
250/250 [==============================] - 1s 3ms/step - loss: 49994.0352 - mae: 49994.0352 - val_loss: 50537.7617 - val_mae: 50537.7617
Epoch 23/100
250/250 [==============================] - 1s 3ms/step - loss: 49965.2578 - mae: 49965.2578 - val_loss: 50523.6523 - val_mae: 50523.6523
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 49937.4375 - mae: 49937.4375 - val_loss: 50502.3125 - val_mae: 50502.3125
Epoch 25/100
250/250 [==============================] - 1s 3ms/step - loss: 49909.7031 - mae: 49909.7031 - val_loss: 50474.5547 - val_mae: 50474.5547
Epoch 26/100
250/250 [==============================] - 1s 3ms/step - loss: 49881.5156 - mae: 49881.5156 - val_loss: 50457.0469 - val_mae: 50457.0469
Epoch 27/100
250/250 [==============================] - 1s 3ms/step - loss: 49856.8711 - mae: 49856.8711 - val_loss: 50438.8945 - val_mae: 50438.8945
Epoch 28/100
250/250 [==============================] - 1s 3ms/step - loss: 49833.3828 - mae: 49833.3828 - val_loss: 50415.4219 - val_mae: 50415.4219
Epoch 29/100
250/250 [==============================] - 1s 3ms/step - loss: 49816.7031 - mae: 49816.7031 - val_loss: 50404.8867 - val_mae: 50404.8867
Epoch 30/100
250/250 [==============================] - 1s 3ms/step - loss: 49792.2031 - mae: 49792.2031 - val_loss: 50387.9023 - val_mae: 50387.9023
Epoch 31/100
250/250 [==============================] - 1s 3ms/step - loss: 49775.4531 - mae: 49775.4531 - val_loss: 50377.8125 - val_mae: 50377.8125
Epoch 32/100
250/250 [==============================] - 1s 3ms/step - loss: 49755.0156 - mae: 49755.0156 - val_loss: 50363.0703 - val_mae: 50363.0703
Epoch 33/100
250/250 [==============================] - 1s 3ms/step - loss: 49738.6562 - mae: 49738.6562 - val_loss: 50352.0156 - val_mae: 50352.0156
Epoch 34/100
250/250 [==============================] - 1s 3ms/step - loss: 49723.8633 - mae: 49723.8633 - val_loss: 50335.1641 - val_mae: 50335.1641
Epoch 35/100
250/250 [==============================] - 1s 3ms/step - loss: 49710.6328 - mae: 49710.6328 - val_loss: 50325.3984 - val_mae: 50325.3984
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 49694.9883 - mae: 49694.9883 - val_loss: 50319.4297 - val_mae: 50319.4297
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 49685.6172 - mae: 49685.6172 - val_loss: 50305.2422 - val_mae: 50305.2422
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 49669.7422 - mae: 49669.7422 - val_loss: 50305.7930 - val_mae: 50305.7930
Epoch 39/100
250/250 [==============================] - 1s 4ms/step - loss: 49663.7148 - mae: 49663.7148 - val_loss: 50296.8789 - val_mae: 50296.8789
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 49650.7852 - mae: 49650.7852 - val_loss: 50297.4609 - val_mae: 50297.4609
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 49637.3125 - mae: 49637.3125 - val_loss: 50273.1602 - val_mae: 50273.1602
Epoch 42/100
250/250 [==============================] - 1s 3ms/step - loss: 49628.3906 - mae: 49628.3906 - val_loss: 50269.2070 - val_mae: 50269.2070
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 49618.4336 - mae: 49618.4336 - val_loss: 50276.3164 - val_mae: 50276.3164
Epoch 44/100
250/250 [==============================] - 1s 4ms/step - loss: 49607.0898 - mae: 49607.0898 - val_loss: 50267.5156 - val_mae: 50267.5156
Epoch 45/100
250/250 [==============================] - 1s 5ms/step - loss: 49598.3125 - mae: 49598.3125 - val_loss: 50269.5664 - val_mae: 50269.5664
Epoch 46/100
250/250 [==============================] - 1s 3ms/step - loss: 49587.0859 - mae: 49587.0859 - val_loss: 50268.8828 - val_mae: 50268.8828
Epoch 47/100
250/250 [==============================] - 1s 4ms/step - loss: 49580.3203 - mae: 49580.3203 - val_loss: 50267.5352 - val_mae: 50267.5352
Epoch 48/100
250/250 [==============================] - 1s 4ms/step - loss: 49571.6445 - mae: 49571.6445 - val_loss: 50272.2539 - val_mae: 50272.2539
Epoch 49/100
250/250 [==============================] - 2s 7ms/step - loss: 49564.1016 - mae: 49564.1016 - val_loss: 50273.3320 - val_mae: 50273.3320
Epoch 50/100
250/250 [==============================] - 1s 5ms/step - loss: 49557.9297 - mae: 49557.9297 - val_loss: 50262.0938 - val_mae: 50262.0938
Epoch 51/100
250/250 [==============================] - 1s 4ms/step - loss: 49550.7188 - mae: 49550.7188 - val_loss: 50259.1484 - val_mae: 50259.1484
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 49543.3984 - mae: 49543.3984 - val_loss: 50250.6172 - val_mae: 50250.6172
Epoch 53/100
250/250 [==============================] - 1s 3ms/step - loss: 49537.4141 - mae: 49537.4141 - val_loss: 50251.7461 - val_mae: 50251.7461
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 49527.9531 - mae: 49527.9531 - val_loss: 50254.8945 - val_mae: 50254.8945
Epoch 55/100
250/250 [==============================] - 1s 5ms/step - loss: 49519.9414 - mae: 49519.9414 - val_loss: 50249.0000 - val_mae: 50249.0000
Epoch 56/100
250/250 [==============================] - 1s 4ms/step - loss: 49517.1992 - mae: 49517.1992 - val_loss: 50256.2148 - val_mae: 50256.2148
Epoch 57/100
250/250 [==============================] - 1s 3ms/step - loss: 49510.0547 - mae: 49510.0547 - val_loss: 50255.7695 - val_mae: 50255.7695
Epoch 58/100
250/250 [==============================] - 1s 4ms/step - loss: 49502.8203 - mae: 49502.8203 - val_loss: 50255.9805 - val_mae: 50255.9805
Epoch 59/100
250/250 [==============================] - 1s 4ms/step - loss: 49502.9844 - mae: 49502.9844 - val_loss: 50260.2891 - val_mae: 50260.2891
Epoch 60/100
250/250 [==============================] - 1s 3ms/step - loss: 49493.5469 - mae: 49493.5469 - val_loss: 50257.1953 - val_mae: 50257.1953
Epoch 61/100
250/250 [==============================] - 1s 4ms/step - loss: 49485.7852 - mae: 49485.7852 - val_loss: 50254.1602 - val_mae: 50254.1602
Epoch 62/100
250/250 [==============================] - 1s 3ms/step - loss: 49481.6992 - mae: 49481.6992 - val_loss: 50255.5195 - val_mae: 50255.5195
Epoch 63/100
250/250 [==============================] - 1s 3ms/step - loss: 49476.9688 - mae: 49476.9688 - val_loss: 50251.4766 - val_mae: 50251.4766
Epoch 64/100
250/250 [==============================] - 1s 5ms/step - loss: 49469.7617 - mae: 49469.7617 - val_loss: 50245.8242 - val_mae: 50245.8242
Epoch 65/100
250/250 [==============================] - 1s 6ms/step - loss: 49466.1289 - mae: 49466.1289 - val_loss: 50257.9844 - val_mae: 50257.9844
Epoch 66/100
250/250 [==============================] - 1s 5ms/step - loss: 49461.7695 - mae: 49461.7695 - val_loss: 50247.5508 - val_mae: 50247.5508
Epoch 67/100
250/250 [==============================] - 1s 3ms/step - loss: 49457.0430 - mae: 49457.0430 - val_loss: 50249.4023 - val_mae: 50249.4023
Epoch 68/100
250/250 [==============================] - 1s 4ms/step - loss: 49450.1406 - mae: 49450.1406 - val_loss: 50249.5352 - val_mae: 50249.5352
Epoch 69/100
250/250 [==============================] - 1s 4ms/step - loss: 49445.1367 - mae: 49445.1367 - val_loss: 50249.1328 - val_mae: 50249.1328
Epoch 70/100
250/250 [==============================] - 1s 3ms/step - loss: 49440.2031 - mae: 49440.2031 - val_loss: 50254.1211 - val_mae: 50254.1211
Epoch 71/100
250/250 [==============================] - 1s 4ms/step - loss: 49437.4023 - mae: 49437.4023 - val_loss: 50248.0352 - val_mae: 50248.0352
Epoch 72/100
250/250 [==============================] - 1s 4ms/step - loss: 49430.2852 - mae: 49430.2852 - val_loss: 50256.1367 - val_mae: 50256.1367
Epoch 73/100
250/250 [==============================] - 1s 4ms/step - loss: 49426.2344 - mae: 49426.2344 - val_loss: 50253.1914 - val_mae: 50253.1914
Epoch 74/100
250/250 [==============================] - 1s 3ms/step - loss: 49421.7812 - mae: 49421.7812 - val_loss: 50253.2930 - val_mae: 50253.2930

In [19]:
%load_ext tensorboard

In [21]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 20860), started 0:00:10 ago. (Use '!kill 20860' to kill it.)

In [22]:
## Evaluate the model on the test data
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f'Test MAE : {test_mae}')

63/63 [==============================] - 0s 2ms/step - loss: 50245.8242 - mae: 50245.8242
Test MAE : 50245.82421875

In [23]:
model.save('regression_model.h5')

d:\learning\Gen_AI\04_ANN_Churn_Modelling\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(